<!DOCTYPE html>
<html ng-app="tripWebApp">
<head>
    <title>Trip Web</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>

    <script type="text/javascript" src="js/index-angular.js"></script>
</head>
<body ng-controller="tripWebCtrl as tripWeb">
    <form class="trip-builder-form">
        <h2>Build a Trip</h2>
        <h3>Enter the places You went on your trip</h3>
        <div class="locations" ng-repeat="location in locations">
            <input class="location-search" type="text" placeholder="add a location" value="{{location.address}}">
        </div>
        <button ng-click="addLocation()">Add Location</button>
        <button class="create-trip">Create Trip</button>
    </form>
    <div id="map"></div>

    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAcpXgpcaKu2MNtU81zmGsvP1tdX5II5zI&libraries=places&signed_in=true&callback=initMap" async defer></script>
</body>
</html>